apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dashboard
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: default-dashboard-auth@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: dashboard.walkerrout.ca
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dashboard
                port:
                  number: 3000
