name: deploy to homelab

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: checkout codebase
        uses: actions/checkout@v4

      - name: deploy
        run: |
          kubectl apply -f k8s/
          kubectl rollout restart deployment/dashboard
